@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="row center-block" style="width:30%; text-align: center;">
    <div class="panel panel-default panel-border">
        <div class="panel-heading">
            <h1 class="text-danger">无访问权限</h1>
        </div>

        <div class="panel-body">

            <h3><a class="text-center" href="/Home/Index">系统首页</a></h3>
        </div>
    </div>
</div>
