
@section Scripts{
    <script type="text/javascript">
        $(function () {
            $('#table').bootstrapTable({
                //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）     
                cache: false,   
                url: "/Identity/User/UserSetAjax",
                sidePagination: 'server',
                pagination: true, 
                pageList: [2, 10, 20, 50, 100],
                showColumns: true,
                showRefresh: true,
                search: false,
                searchOnEnterKey: true,
                trimOnSearch: true,
                showPaginationSwitch: true,
                //得到查询的参数
                queryParams: function (params) {
                    //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                    var temp = {
                        Size: params.limit,                         //页面大小
                        Start: params.offset,   //页码
                        Column: params.sort,      //排序列名  
                        Sort: params.order //排位命令（desc，asc） 
                    };
                    return temp;
                },
                columns: [
                    { checkbox: true, visible: true },
                    { field: 'name', title: '用户名', sortable: true, searchFormatter:true },
                    { field: 'trueName', title: '真实姓名', sortable: true },
                    { field: 'phone', title: '电话', sortable: true },
                    { field: 'mail', title: '邮箱', sortable: true },
                    { field: 'address', title: '地址', sortable: true },
                    { field: 'createTime', title: '创建时间', sortable: true },
                    { field: 'type', title: '用户类型', sortable: true },
                    { field: 'status', title: '用户状态' },
                    { field: 'id', title: '操作', formatter: actionFormmatter },
                ],
                responseHandler: function (result) {
                    var data = {};
                    data.total = result.total;
                    data.rows = result.entities;
                    return data;
                }
            });

            //表格操作列
            function actionFormmatter(value, row, index) {
                var id = value;
                var result = "";
                result += "<a href='javascript:;' class='btn btn-xs green' onclick=\"EditViewById('" + id + "', view='view')\" title='查看'><span class='glyphicon glyphicon-search'></span></a>";
                result += "<a href='javascript:;' class='btn btn-xs blue' onclick=\"EditViewById('" + id + "')\" title='编辑'><span class='glyphicon glyphicon-pencil'></span></a>";
                result += "<a href='javascript:;' class='btn btn-xs red' onclick=\"DeleteByIds('" + id + "')\" title='删除'><span class='glyphicon glyphicon-remove'></span></a>";

                return result;
            }

            $('.form_datetime').datetimepicker({
                language: "zh-CN",
                todayBtn: true
            });
         })
    </script>
}


@Html.BlockQuote()

<!-- Custom column filtering -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"></h3>

        <div class="panel-options">
            <a href="#" data-toggle="panel">
                <span class="collapse-icon">&ndash;</span>
                <span class="expand-icon">+</span>
            </a>
            <a href="#" data-toggle="remove">
                &times;
            </a>
        </div>
    </div>
    <div class="panel-body">
        <div class="search-bar" style="padding-bottom: 18px;border-bottom: 1px solid #eeeeee;">
            <input class="form-control search-control" type="text" name="Name" placeholder="姓名">
            <input class="form-control search-control" type="text" name="Name" placeholder="电话">
            <input class="form-control search-control" type="text" name="Name" placeholder="邮箱">
            <span class="range-control">
                <input class="form-control search-control form_datetime" type="text" name="Name" readonly placeholder="创建时间">
                -
                <input class="form-control search-control" type="text" name="Name" placeholder="创建时间">
            </span>
            <button class="btn btn-primary" style="float:right;margin-left:4px;">清空</button>
            <button class="btn btn-success" style="float:right;margin-left:4px;">搜索</button>
            
        </div>
        <table id="table">
            
        </table>
    </div>
</div>
