@model Dictionary<string,object>
@{
}
@section Scripts{
<script src="~/lib/xenon/assets/js/dropzone/dropzone.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
                var i = 1,
                $example_dropzone_filetable = $("#example-dropzone-filetable"),
                example_dropzone = $("#advancedDropzone").dropzone({
                    url: '/Common/File/UploadOSS?tagId=' + jQuery('#TagId').attr("data"),
                    paramName: "files",
                    method: 'post',
                    addRemoveLinks: true,
                    // Events
                    addedfile: function (file) {
                        if (i == 1) {
                            $example_dropzone_filetable.find('tbody').html('');
                        }

                        var size = parseInt(file.size / 1024, 10);
                        size = size < 1024 ? (size + " KB") : (parseInt(size / 1024, 10) + " MB");
                        var $el = $('<tr>\
													<td class="text-center">'+ (i++) + '</td>\
													<td>'+ file.name + '</td>\
													<td><div class="progress progress-striped"><div class="progress-bar progress-bar-warning"></div></div></td>\
													<td>'+ size + '</td>\
													<td>Uploading...</td>\
												</tr>');

                        $example_dropzone_filetable.find('tbody').append($el);
                        file.fileEntryTd = $el;
                        file.progressBar = $el.find('.progress-bar');
                    },
                    uploadprogress: function (file, progress, bytesSent) {
                        file.progressBar.width(progress + '%');
                    },
                    //sending: function (file, xhr, formData) {
                    //    //formData.append('tag', jQuery('#tag').text());
                    //    //alert(jQuery('#TagId').text());
                    //    xhr.open('post', '/Common/File/UploadOSS', true);
                    //    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                    //    xhr.send(jQuery('#TagId').text());

                    //},
                    success: function (file, result) {
                        if (result.isSuccess) {                
                            file.fileEntryTd.find('td:last').html('<span class="text-success">'+result.message+'</span>');
                            file.progressBar.removeClass('progress-bar-warning').addClass('progress-bar-success');
                        } else {
                            file.fileEntryTd.find('td:last').html('<span class="text-danger">'+result.message+'</span>');
                            file.progressBar.removeClass('progress-bar-warning').addClass('progress-bar-red');
                        }
                        
                    },
                    error: function (file) {
                        file.fileEntryTd.find('td:last').html('<span class="text-danger">上传失败</span>');
                        file.progressBar.removeClass('progress-bar-warning').addClass('progress-bar-red');
                    }
                });

            $("#advancedDropzone").css({
                minHeight: 200
            });

            /*返回上一页*/
            $("#back").click(function () { 
                history.back();
            });
        });
</script>
}

    <div class="page-title">

        <div class="title-env">
            <h1 class="title">素材上传</h1>
        </div>

        <div class="breadcrumb-env">
            <button type="button" class="btn btn-success" id="back">返回</button>

        </div>

    </div>
    <br />

    <div class="panel panel-default">

        <div class="panel-heading">
            <h3 class="panel-title" id="TagId" data="@Model["tagId"]">
               <small>素材分类：</small>@Model["tagName"]
            </h3>
        </div>

        <div class="panel-body">

            <br />
            <div class="row">
                <div class="col-sm-3 text-center">

                    <div id="advancedDropzone" class="droppable-area">
                       点击上传
                    </div>

                </div>
                <div class="col-sm-9">

                    <table class="table table-bordered table-striped" id="example-dropzone-filetable">
                        <thead>
                            <tr>
                                <th width="1%" class="text-center">#</th>
                                <th width="50%">文件名</th>
                                <th width="20%">上传进度</th>
                                <th>文件大小</th>
                                <th>是否成功</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="5">文件列表在此处增加</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>







