@model List<TagResult>
@section Scripts{
    <style>
        #TagName, #TagWeight, #FileName {
            border: 1px solid #C8C8C8;
            border-radius: 3px;
            padding: 5px
        }
        #TagAlarm{
            font-size:14px;
            color:red;
            font-weight:bold;
            padding-left:50px;
            display:none;
        }
    </style>
    <script type="text/javascript">
			// Sample Javascript code for this page
			jQuery(document).ready(function($)
            {
				// Sample Select all images
				$("#select-all").on('change', function(ev)
				{
					var is_checked = $(this).is(':checked');
					$(".album-image input[type='checkbox']").prop('checked', is_checked).trigger('change');
				});

                // Edit Modal
                $('#fileList').on('click','a[data-action="edit"]', function (ev) {
                    ev.preventDefault();
                    $("#gallery-image-modal").modal('show');
                    $("#gallery-image-modal").find(".fileId").text($(this).parent().attr("data-fileId"));
                    $("#gallery-image-modal").find("#FileName").val($(this).parent().prev().children("span").text());
                    
                });

                // Delete Modal
                $('#fileList').on('click','a[data-action="trash"]',function (ev) {
                    ev.preventDefault();
                    $("#gallery-image-delete-modal").modal('show');
                    $("#gallery-image-delete-modal").find(".fileId").text($(this).parent().attr("data-fileId"));
                });

                //创建分类模态框
                $('#createFiles').on('click', function (ev) {
                    ev.preventDefault();
                    $('#gallery-flies-create-modal').modal('show');
                });

				// Sortable

				$('.gallery-env a[data-action="sort"]').on('click', function(ev)
				{
					ev.preventDefault();

					var is_sortable = $(".album-images").sortable('instance');

					if( ! is_sortable)
					{
						$(".gallery-env .album-images").sortable({
							items: '> div'
						});

						$(".album-sorting-info").stop().slideDown(300);
					}
					else
					{
						$(".album-images").sortable('destroy');
						$(".album-sorting-info").stop().slideUp(300);
					}
                });
        });

        //分页设置
        function CutPage(current_page, total_page) {
            $.jqPaginator(
                '#pagination',
                {
                    totalPages: parseInt(total_page),//$("#pageCount").val(),//parseInt($("#PageCount").val()),
                    visiblePages: 5, //设置最多显示的页码数
                    currentPage: parseInt(current_page),//$("#page").val(),//parseInt($("#Page").val()) + 1,
                    first: '<li class="first"><a href="javascript:;">首页</a></li>',
                    prev: '<li class="prev"><a href="javascript:;"><i class="arrow arrow2"></i>上一页</a></li>',
                    next: '<li class="next"><a href="javascript:;">下一页<i class="arrow arrow3"></i></a></li>',
                    last: '<li class="last"><a href="javascript:;">末页</a></li>',
                    page: '<li class="page"><a href="javascript:;">{{page}}</a></li>',
                    onPageChange: function (page, type) {
                        if (current_page != page) {
                            loadImage(page);
                        }
                    }
                });
        };

        /*选中的素材分类名作为标题*/
        function changTagName() {
            $("#tagName").text($("#TagList").children(".active").find("span").text());
        }   

        /*加载素材分类下的图片*/
        function loadImage(page) {
            var tagId = $("#TagList").children(".active").find("span").attr("data");
            $.post(
                "/Common/File/GetAllFile",
                { tagId: tagId, page: page },
                function (result) {
                    var current_page = result.cucurrentPage;
                    var total_page = result.totalPages;
                    if (result.entities.length > 0) {
                        CutPage(current_page, total_page);
                    }
                    $("#now_page").val(current_page);
                    $("#fileList").children().remove();
                    for (var i = 0; i < result.entities.length; i++) {
                        var item = '';
                        item += '<div class="col-md-3 col-sm-4 col-xs-6">';
                        item += '<div class="album-image">';
                        item += '<div style="height:113px;width:130px;"><img style="max-height:113px;max-width:130px;" src="' + result.entities[i].url + '" class="img-responsive" /></div>';
                        item += '<a href="#" class="name">';
                        item += '<span class="tooltip-test" data-toggle="tooltip" data-placement="left" title="' + result.entities[i].name + '">' + result.entities[i].name + '</span>';
                        item += '<em class="tooltip-test" data-toggle="tooltip" data-placement="left" title="' + result.entities[i].createTime + '">' + result.entities[i].createTime + '</em>';
                        item += '</a>';
                        item += '<div class="image-options" data-fileId=' + result.entities[i].id + '>';
                        item += '<a style="margin-right:5px;" href="#" data-action="edit"><i class="fa-pencil"></i></a>';
                        item += '<a href="#" data-action="trash"><i class="fa-trash"></i></a>';
                        item += '</div>';
                        item += '<div class="image-checkbox">';
                        item += '<input value=' + result.entities[i].id + ' type="checkbox" class="cbr" />';
                        item += '</div>';
                        item += '</div>';
                        item += '</div>';
                        $("#fileList").append(item);

                    }

                }
            );

        }

        $(function () {
            //提示工具的初始化
            $("[data-toggle='tooltip']").tooltip();
            changTagName();//选中的素材分类名作为标题
            loadImage();//加载素材分类下的图片
            /*添加素材分类*/
            $("#createTag").on('click', function () {
                $("#TagAlarm").hide();
                var TagName = $("#TagName").val();
                if (TagName == "") {
                    $("#TagAlarm").show();
                } else {
                    var name = $("#TagName").val();
                    var weight = $("#TagWeight").val();
                    $.post(
                        "/Common/File/AddTag", { name: name, weight: weight }, function (result) { 
                            if (result.isSuccess) {
                                //var now_page = $("#now_page").val();
                                //loadImage(now_page);
                                window.location.reload();

                            }
                        }
                    );

                }
            });
            /*打开素材上传界面*/
            $("#upload").click(function () {
                var tagName = $("#TagList").children(".active").find("span").text();
                var tagId = $("#TagList").children(".active").find("span").attr("data");
                window.location.href = "/Common/File/FileUpload?tagName=" + tagName+"&tagId="+tagId;
            });

            /*点击素材分类*/
            $("#TagList").find("a").on("click", function () {
                $("#TagList").children().removeClass("active");
                $(this).parent().addClass("active");
                changTagName();
                loadImage();
            });
            /*修改素材名称*/
            $("#modifyName").on("click", function () {
                var name = $("#FileName").val();
                var id = $("#gallery-image-modal").find(".fileId").text();
                $.post(
                    "/Common/File/ModifyFileName",
                    { id : id , name: name },
                    function (result) { 
                        $("#gallery-image-modal").modal('hide');
                        var now_page = $("#now_page").val();
                        loadImage(now_page);
                        //window.location.reload();
                    }
                );
            });
            /*删除素材*/
            $("#deleteFile").on("click", function () {
                var id = $("#gallery-image-delete-modal").find(".fileId").text();
                $.post(
                    "/Common/File/DeleteFile",
                    { id: id },
                    function (result) {
                        $("#gallery-image-delete-modal").modal('hide');
                        var now_page = $("#now_page").val();
                        loadImage(now_page);
                        //window.location.reload();
                    }
                );
            });

            /*批量删除素材*/
            $("#lotDelete").on("click", function () { 
                $("#gallery-image-lot-delete-modal").modal('show');
            });

            $("#lotDeleteFile").click(function () { 
                var files = $("#fileList").find(":checkbox:checked");
                var fileId = new Array();
                for (var i = 0; i < files.length; i++) {
                    fileId.push(files[i].value);
                }
                $.post(
                    "/Common/File/LotDeleteFile",
                    { fileId: fileId },
                    function (result) {
                        $("#gallery-image-lot-delete-modal").modal('hide');
                        var now_page = $("#now_page").val();
                        loadImage(now_page);
                        //window.location.reload();
                    }
                );
            });
        });
</script>
}

<!--图片管理去-->
<section class="gallery-env">

    <div class="row">

        <!-- Gallery Album Optipns and Images -->
        <div class="col-sm-9 gallery-right">

            <!-- Album Header -->
            <div class="album-header">
                <h2 id="tagName"></h2>

                <ul class="album-options list-unstyled list-inline">
                    <li>
                        <input type="checkbox" class="cbr" id="select-all" />
                        <label for="select-all">全选</label>
                    </li>
                    <li>
                        <a href="#" id="upload">
                            <i class="fa-upload"></i>
                            上传素材
                        </a>
                    </li>
                    @*<li>
                        <a href="#" data-action="sort">
                            <i class="fa-arrows"></i>
                            素材排序
                        </a>
                    </li>*@
                    @*<li>
                        <a href="#" data-action="edit">
                            <i class="fa-edit"></i>
                            Edit
                        </a>
                    </li>*@
                    <li>
                        <a id="lotDelete" href="#" data-action="trash">
                            <i class="fa-trash"></i>
                            删除
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Sorting Information -->
            <div class="album-sorting-info">
                <div class="album-sorting-info-inner clearfix">
                    <a href="#" class="btn btn-secondary btn-xs btn-single btn-icon btn-icon-standalone pull-right" data-action="sort">
                        <i class="fa-save"></i>
                        <span>保存排序</span>
                    </a>

                    <i class="fa-arrows-alt"></i>
                    拖动素材进行排序
                </div>
            </div>

            <!-- Album Images -->
            <div class="album-images row" id="fileList">
            </div>


            <form action="" method="post">
                <div class="page">
                    <ul class="pagination" id="pagination"></ul>
                </div>
                <input style="display: none" type="text" id="page" name="page"
                       value="" />
            </form>

        </div>

        <!-- Gallery Sidebar -->
        <div class="col-sm-3 gallery-left">

            <div class="gallery-sidebar">

                <a href="#" id="createFiles" class="btn btn-block btn-secondary btn-icon btn-icon-standalone btn-icon-standalone-right">
                    <i class="linecons-photo"></i>
                    <span>创建分类</span>
                </a>

                <ul class="list-unstyled" id="TagList">
                    @{
                        for (var i = 0; i < Model.Count; i++)
                        {
                            var item = Model[i];
                            if (i == 0)
                            {
                                <li class="active">
                                    <a href="#">
                                        <i class="fa-folder-open-o"></i>
                                        <span data="@item.Id">@item.Name</span>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="#">
                                        <i class="fa-folder-open-o"></i>
                                        <span data="@item.Id">@item.Name</span>
                                    </a>
                                </li>
                            }

                        }
                    }
                </ul>

            </div>

        </div>

    </div>

</section>
<input type="text" id="now_page" style="display:none;" />

<!--素材修改模态框-->
<div class="modal fade" id="gallery-image-modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">修改图片名称</h4>
            </div>

            <div class="modal-body">
                <p>图片名称：  <input type="text" id="FileName"/></p>
            </div>

            <div style="display:none">
                <p class="fileId"></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="modifyName">保存</button>
                <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<!--删除素材模态框-->
<div class="modal fade" id="gallery-image-delete-modal" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">删除图片</h4>
            </div>

            <div class="modal-body">

                你确定要删除吗？

            </div>
            <div style="display:none">
                <p class="fileId"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger" id="deleteFile">删除</button>
            </div>
        </div>
    </div>
</div>

<!--批量删除素材模态框-->
<div class="modal fade" id="gallery-image-lot-delete-modal" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">删除图片</h4>
            </div>

            <div class="modal-body">

                你确定要删除吗？

            </div>
            <div style="display:none">
                <p class="fileId"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger" id="lotDeleteFile">删除</button>
            </div>
        </div>
    </div>
</div>

<!--创建素材分类模态框-->
<div class="modal fade" id="gallery-flies-create-modal" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">创建分类</h4>
            </div>

            <div class="modal-body">

                <p>请输入分类名：</p>
                <p><input type="text" id="TagName" /><span id="TagAlarm">分类名不能为空!</span></p>
                <p>请输入分类顺序号：</p>
                <p><input type="text" id="TagWeight" /><p>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="createTag">创建</button>
                <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>